<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="newName">
<button (click)="addName()">Add name</button>
<ul>
  <li *ngIf="names.length===0">No hay nombres</li>
  <li *ngFor="let name of names; index as i">
    {{i}} {{name}}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>
<hr>

<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="person.name">
<p *ngIf="person.name==='Jersson'">Soy Jersson</p>
<p *ngIf="person.name==='Cristian' && person.age ===18; else myBlock ">Soy Cristian</p>
<ng-template #myBlock>
  <p>Bloque de else</p>
</ng-template>
<hr>
<h1>NgModel</h1>
<p>Nombre {{ person.name }}</p>
<input type="text" required  #nameInput="ngModel" [(ngModel)]="person.name" />
<p>valid: {{ nameInput.valid}} </p>
<input type="number" max="18" min="10" required  #ageInput="ngModel" [(ngModel)]="person.age" />
<p>valid: {{ ageInput.valid}} </p>
<hr>
<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toogleButton()">Toggle Butthon</button>
<p>Edad {{person.age}}</p>
<button (click)="Increment_Age()">Age ++</button>
<div class="box" (scroll)="onScroll($event)">
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum, exercitationem sed dolorum earum quo dolores natus aliquam amet, autem ad doloremque libero perspiciatis temporibus nesciunt harum perferendis hic consequatur laudantium? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam impedit similique autem dicta deleniti odio ipsum iste quae officiis expedita numquam, asperiores ipsam tenetur suscipit totam voluptatum atque debitis commodi! </p>
</div>
<p>Nombre {{ person.name }}</p>
<input type="text" [value]="person.name" (keyup)="changeName($event)">
<hr/>
<h1>Propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="person.name" />
<progress max="100" [value]="person.age"></progress>
<img width="100" [src]="person.avatar"/>

<hr/>
<h1>Hola Platzi</h1>
<h1>{{ 'Hola Platzi' }}</h1>
<h2>{{ 'Hola Platzi'.repeat(5) }}</h2>
<p>1 + 1 = {{ 1 + 1 }}</p>

<h3>hola, soy {{ name }} y tengo {{age}}</h3>

<img src={{img}} alt="image">
