<h1>Formulario</h1>
<form #myForm="ngForm" >
  <div class="input-group">
    <label for="name">Nombre</label>
    <input type="text" name="name" required id="name" [(ngModel)]="register.name">
    <p>Mensaje de error</p>
  </div>
  <div class="input-group">
    <label for="email">Email</label>
    <input type="email" name="email" required id="email" [(ngModel)]="register.email">
    <p>Mensaje de error</p>
  </div>
  <div class="input-group">
    <label for="password">Password</label>
    <input type="password" name="password" required id="password" [(ngModel)]="register.password">
    <p>Mensaje de error</p>
  </div>
  <button type="submit">Registrar</button>
  <button type="">Accion</button>
</form>



<h1>NgClass & NgStyles</h1>
<input type="text" required #nameInput4="ngModel" [(ngModel)]="person.name">
<!-- <hr class="line-error"
  [class.valido]="nameInput4.valid"
  [class.invalido]="nameInput4.invalid"
> -->
<hr class="line-error"
  [ngClass]="{
    'valid':nameInput4.valid,
    'invalid':nameInput4.invalid
  }"
>
<p class="message-error" [class.invalido]="nameInput4.invalid">El campo es requerido</p>
<div class="styles">
  <div>
    <input type="number" [(ngModel)]="box.width"/>
    <input type="number" [(ngModel)]="box.height"/>
    <input type="color" [(ngModel)]="box.background"/>
  </div>
  <div [ngStyle]="{
    'width.px':box.width,
    'height.px':box.height,
    'background-color':box.background,
    'display':'block'
  }" >
  </div>
</div>

<h1>Class & Styles</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name">
<p class="message-error" [class.invalido]="nameInput2.invalid">El campo es requerido</p>
<label for="">Nombre</label>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name">
<p [style.font-style]="nameInput3.invalid ? 'italic':'normal'">Texto Texto Textico</p>
<div class="styles">
  <div>
    <input type="text" [(ngModel)]="widthImg">
  </div>
  <div>
    <img  [style.width.%]="widthImg" [src]="person.avatar"/>
  </div>
</div>
<h1>ngSwitch</h1>
<input type="text" required [(ngModel)]="person.name">
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'jersson'">
    La persona es Jersson Quintero
  </p>
  <p *ngSwitchCase="'Aleja'">
    La persona es Alejandro Martinez
  </p>
  <p *ngSwitchCase="'jorge'">
    La persona es Jorge Baron
  </p>
  <p *ngSwitchCase="'Cobos'">
    La persona es Jorge martinez
  </p> <p *ngSwitchDefault> No hace macth</p>
</div>

<!-- <p *ngIf="person.name==='jersson'">
  La persona es Jersson Quintero
</p>
<p *ngIf="person.name==='Aleja'">
  La persona es Alejandro Martinez
</p>
<p *ngIf="person.name==='jorge'">
  La persona es Jorge Baron
</p>
<p *ngIf="person.name==='Cobos'">
  La persona es Jorge martinez
</p> -->

<!-- <div [ngSwitch]="color">
  <p *ngSwitchCase="'azul'">
      El color el Azul
  </p>
  <p *ngSwitchCase="'verde'">
      El color el Verde
  </p>
  <p *ngSwitchCase="'rojo'">
      El color el Rojo
  </p>
  <p *ngSwitchDefault>
      No hay ningún color
  </p>
</div> -->

<h1>*ngFor Objs</h1>
<div class="products--grid">
  <div *ngFor="let product of products">
    <img [src]="product.image" alt="image">
    <h2>{{product.price}}</h2>
    <p>{{product.name}}</p>
  </div>
</div>

<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="newName">
<button (click)="addName()">Add name</button>
<ul>
  <li *ngIf="names.length===0">No hay nombres</li>
  <li *ngFor="let name of names; index as i">
    {{i}} {{name}}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>
<hr>

<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="person.name">
<p *ngIf="person.name==='Jersson'">Soy Jersson</p>
<p *ngIf="person.name==='Cristian' && person.age ===18; else myBlock ">Soy Cristian</p>
<ng-template #myBlock>
  <p>Bloque de else</p>
</ng-template>
<hr>
<h1>NgModel</h1>
<p>Nombre {{ person.name }}</p>
<input type="text" required  #nameInput="ngModel" [(ngModel)]="person.name" />
<p>valid: {{ nameInput.valid}} </p>
<input type="number" max="18" min="10" required  #ageInput="ngModel" [(ngModel)]="person.age" />
<p>valid: {{ ageInput.valid}} </p>
<hr>
<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toogleButton()">Toggle Butthon</button>
<p>Edad {{person.age}}</p>
<button (click)="Increment_Age()">Age ++</button>
<div class="box" (scroll)="onScroll($event)">
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum, exercitationem sed dolorum earum quo dolores natus aliquam amet, autem ad doloremque libero perspiciatis temporibus nesciunt harum perferendis hic consequatur laudantium? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam impedit similique autem dicta deleniti odio ipsum iste quae officiis expedita numquam, asperiores ipsam tenetur suscipit totam voluptatum atque debitis commodi! </p>
</div>
<p>Nombre {{ person.name }}</p>
<input type="text" [value]="person.name" (keyup)="changeName($event)">
<hr/>
<h1>Propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="person.name" />
<progress max="100" [value]="person.age"></progress>
<img width="100" [src]="person.avatar"/>

<hr/>
<h1>Hola Platzi</h1>
<h1>{{ 'Hola Platzi' }}</h1>
<h2>{{ 'Hola Platzi'.repeat(5) }}</h2>
<p>1 + 1 = {{ 1 + 1 }}</p>

<h3>hola, soy {{ name }} y tengo {{age}}</h3>

<img width="250" src={{img}} alt="image">
