.box{
  height: 200px;
  width: 200px;
  overflow: auto;
  background: red;
}

.products--grid{
  // display: grid;
  // grid-template-columns: repeat(5,1fr);
  // grid-gap: 15px;
  display: flex;
  flex-direction: column;
  div{
    img{
      width: 100%;
      border-radius: 10px;
    }
    h2,p{
      margin: 0;


    }
  }
}

.message-error{
  background-color: red;
  color: white;
  opacity: 0;
  transition: all linear .5s;
  &.invalido{
    opacity: 1;
  }
}
.styles{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.line-error{
  height: 0;
  border-bottom: 1px solid;
  &.invalid{
    border-color:red ;
  }
  &.valid{
    border-color:green ;
  }
}

@media screen and (min-width:40em){
  .products--grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 15px;
  }
}

@media screen and (min-width:80em){
  .products--grid{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 15px;
  }
}

// zdvsdv

.form-container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: grid; //una sola columna
  place-content: center;
  font-family: "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  & h1 {
    margin-bottom: 40px;
    font-size: 24px;
  }
}

.input-group {
  display: flex;
  flex-direction: column;
  & label {
    margin-bottom: 4px;
    font-weight: 600;
  }
  & input {
    border: none;
    outline: none;
    height: 24px;
    border-radius: 10px;
    padding: 4px 8px;
    background-color: whitesmoke;
    caret-color: green;
    color: rgb(98, 97, 97);
  }
}

.msj-error {
  font-size: 12px;
  font-style: italic;
  color: red;
  transition: all linear .5s;
  &.valido {
    opacity: 0;
  }
  &.invalido {
    opacity: 1;
  }
}

button[type="submit"] {
  background-color: rgb(82, 214, 133);
  padding: 16px 24px;
  width: 100%;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  border: none;
  outline: none;
  cursor: pointer;
  &.invalid {
    background-color: rgb(170, 208, 185);
  }
}
